<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
	<meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>WebSecure | Welcome</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/app.css">
  </head>
  <body>
    <header>
      <div class="container"id="cont">
        <div id="branding">
          <h1><span class="highlight">Web</span> Secure</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
		<div class="ui  main text container segment"id="mainBox">
			<div class="ui huge header"></div>
				<form class="ui form" action="/results" method="POST">
					<div class="field">
						<input type="text" placeholder="Search Term" name="search">
					</div>
					<input class="ui violet big basic button" type="Submit">
				</form>
			</div>
		</div>  
      </div>
    </section>
    <section id="newsletter">
      <div class="container">
        <h1 id="text">Guarantee For Security</h1>
      </div>
    </section>
    <footer id="footerr">
      <p>Web Secure, Copyright &copy; 2017</p>
    </footer>
  </body>
</html>












